# Sprint 1 Test Report

## Sprint 1 Tests
The following testing was developed and run during sprint 1. 

<b> BDD Test Cases </b>: 3 Files with 28 Test Cases.  
<b> Unit Tests </b>: 9 Files with 20 Test cases. 

These tests verify and validate all features implemented in sprint 1. Those test can be seen below.    

<img width="287" height="842" alt="image" src="https://github.com/user-attachments/assets/a021d937-c1f2-43da-803d-88a54968e6f6" />

There is a <b> passing </b> result for all 48 test cases. 

<img width="771" height="35" alt="image" src="https://github.com/user-attachments/assets/29200f15-f71f-4666-ab6e-bf44019aaffa" />


