# Sprint 1 Test Report

## Unit Tests
A BDD test suite was created with a  total of 48 unit tests to verify and validate the features implemented in sprint 1. Those test can be seen below.  

<img width="287" height="842" alt="image" src="https://github.com/user-attachments/assets/a021d937-c1f2-43da-803d-88a54968e6f6" />

There is a <b> passing </b> result for all 48 unit tests. 

<img width="771" height="35" alt="image" src="https://github.com/user-attachments/assets/29200f15-f71f-4666-ab6e-bf44019aaffa" />


