# Sprint 2 Test Report

## Sprint 2 Tests
The following testing was developed and run during sprint 2. 

(add applicable test and supporting images)

(replace){
<b> BDD Test Cases </b>: 3 Files with 28 Test Cases.
- auth_feature_test.dart
- onBoarding_feature_test.dart
- profile_feature_test.dart

<b> Unit Tests </b>: 9 Files with 20 Test cases. 
- chat_provider_test.dart
- chat_screen_test.dart
- discover_screen_test.dart
- home_screen_test.dart
- matches_screen_test.dart
- profile_screen_test.dart
- profile_setup_screen_test.dart
- matching_engine_test.dart
- widget_test.dart

These tests verify and validate all features implemented in sprint 2. Those test can be seen below.    

<img width="287" height="842" alt="image" src="https://github.com/user-attachments/assets/a021d937-c1f2-43da-803d-88a54968e6f6" />

There is a <b> passing </b> result for all 48 test cases. 
}

<img width="771" height="35" alt="image" src="https://github.com/user-attachments/assets/29200f15-f71f-4666-ab6e-bf44019aaffa" />
