# Sprint 2 Test Report

## Sprint 2 Tests
The following testing was developed and run during sprint 2. In total, 1 new BDD test was added as well as an additional 23 unit tests. 

<b> BDD Test Cases </b>: 4 Files with 32 Test Cases.
- auth_feature_test.dart
- onBoarding_feature_test.dart
- profile_feature_test.dart
- photo_upload_feature_test.dart

<b> Unit Tests </b>: 11 Files with 32 Test cases. 
- widget_test.dart
- user_avatar_test.dart
- chat_provider_test.dart
- matching_engine_test.dart
- chat_screen_test.dart
- chat_screen_interaction_test.dart
- discover_screen_test.dart
- home_screen_test.dart
- matches_screen_test.dart
- profile_screen_test.dart
- profile_setup_screen_test.dart

These tests verify and validate all features implemented in sprint 2. Those test can be seen below.    

<img width="250" height="717" alt="image" src="https://github.com/user-attachments/assets/2c5c724c-5571-4ee0-860b-536f996fd25b" />

## Sprint 2 Test Results
There is a <b> passing </b> result for all 71 test cases. 

<img width="552" height="32" alt="image" src="https://github.com/user-attachments/assets/f0ba5754-87df-44af-a7e7-a2cc0b0d0e41" />

CI/CD Unit Test Passing


<img width="1092" height="936" alt="image" src="https://github.com/user-attachments/assets/1aa65f1b-1e1a-48b5-8c2f-e0341a856677" />

<img width="1591" height="942" alt="image" src="https://github.com/user-attachments/assets/d2fac3c8-f344-4774-8b42-39d486da2b99" />

<img width="1607" height="930" alt="image" src="https://github.com/user-attachments/assets/2bd270b2-05d7-4eba-a2d1-6159fd0218b7" />




