# Sprint 2 Test Report

## Sprint 2 Tests
The following testing was developed and run during sprint 2. 

(add applicable test and supporting images)

(replace){
<b> BDD Test Cases </b>: 4 Files with 32 Test Cases.
- auth_feature_test.dart
- onBoarding_feature_test.dart
- profile_feature_test.dart
- photo_upload_feature_test.dart

<b> Unit Tests </b>: 11 Files with 32 Test cases. 
- widget_test.dart
- user_avatar_test.dart
- chat_provider_test.dart
- matching_engine_test.dart
- chat_screen_test.dart
- chat_screen_interaction_test.dart
- discover_screen_test.dart
- home_screen_test.dart
- matches_screen_test.dart
- profile_screen_test.dart
- profile_setup_screen_test.dart

These tests verify and validate all features implemented in sprint 2. Those test can be seen below.    

<img width="250" height="717" alt="image" src="https://github.com/user-attachments/assets/2c5c724c-5571-4ee0-860b-536f996fd25b" />


There is a <b> passing </b> result for all 71 test cases. 

