# Sprint 3 Test Report

## Sprint 3 Tests
The following testing was developed and run during sprint 3. In total, 1 new BDD test was added as well as an additional (#) unit tests. 

<b> BDD Test Cases </b>: (#) Files with (#) Test Cases.
- auth_feature_test.dart
- onBoarding_feature_test.dart
- profile_feature_test.dart
- photo_upload_feature_test.dart

<b> Unit Tests </b>: (#) Files with (#) Test cases. 
- widget_test.dart
- user_avatar_test.dart
- chat_provider_test.dart
- matching_engine_test.dart
- chat_screen_test.dart
- chat_screen_interaction_test.dart
- discover_screen_test.dart
- home_screen_test.dart
- matches_screen_test.dart
- profile_screen_test.dart
- profile_setup_screen_test.dart

These tests verify and validate all features implemented in sprint 3. Those test can be seen below.    


## Sprint 3 Test Results
There is a <b> passing </b> result for all (#) test cases. 


CI/CD Unit Test Passing





