# Sprint 3 Test Report

## Sprint 3 Tests
The following testing was developed and run during sprint 3. In total, 2 new BDD tests were added as well as an additional (10) unit tests. 

<b> BDD Test Cases </b>: (6) Files with (40) Test Cases.
- auth_feature_test.dart
- onBoarding_feature_test.dart
- profile_feature_test.dart
- photo_upload_feature_test.dart
- single_sign_on_feature_test.dart
- instagram_handle_feature_test.dart

<b> Unit Tests </b>: (13) Files with (43) Test cases. 
- widget_test.dart
- user_avatar_test.dart
- chat_provider_test.dart
- matching_engine_test.dart
- chat_screen_test.dart
- chat_screen_interaction_test.dart
- discover_screen_test.dart
- home_screen_test.dart
- matches_screen_test.dart
- profile_screen_test.dart
- profile_setup_screen_test.dart
- account_management_screen_test.dart
- block_provider_test.dart

These tests verify and validate all features implemented in sprint 3. Those test can be seen below.    

<img width="312" height="732" alt="image" src="https://github.com/user-attachments/assets/0584a500-579d-4839-b5cf-25c8b264fcfa" />

## Sprint 3 Test Results
There is a <b> passing </b> result for all (83) test cases. 

<img width="586" height="27" alt="image" src="https://github.com/user-attachments/assets/cef5cb39-deba-4757-af11-2cfeaecbc687" />

CI/CD Unit Test Passing

<img width="2151" height="1292" alt="image" src="https://github.com/user-attachments/assets/083e977d-8e88-4879-8b81-843d4cb2350c" />

<img width="2152" height="1102" alt="image" src="https://github.com/user-attachments/assets/25b5e3d1-9a08-4872-aa19-8daedf4f1d53" />







